<footer>
    <div class="tarjeta">
        <a href="contacto.html">¿Tenés una consulta? Contactanos</a>
        <br>
        <a href="facebook.com/nuestroPerfil"><i class="fab fa-facebook-f"></i> Facebook</a>
        <br>
        <a href="twitter.com/nuestroPerfil"><i class="fab fa-twitter-square"></i> Twitter</a>
    </div>
    <div class="tarjeta">
        <a href="nosotros.html">Sobre nosotros</a>
        <br>
        <a href="mapaSitio.html">Mapa del sitio</a>
        <br>
        <a href="servicio.html">Terminos de servicio</a>
    </div>
    <div class="tarjeta">
        <p class="copy"><i class="far fa-copyright"></i> 2021 NuestraCompañía SRL, todos los derechos reservados</p>
    </div>
</footer>