<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light px-2">
        <img src="/images/pexels-free-creative-stuff-1193743.jpg" alt="logo" class="logoPagina">
        <!--<img src="/images/logo-enredarte2.jpeg" alt="logo" class="logoPagina h-75">-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/producto/misproductos">Mis Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producto/crear">Vender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayuda</a>
                </li>
            </ul>
            <!--BUSQUEDA-->
            <form action="/producto/buscar" method="POST" id="formFind" class="form-inline my-2 my-lg-0 buscador w-50">
                <input class="busqueda form-control mr-sm-2 ml-auto w-75" type="text" placeholder="Buscá algo increible"
                    aria-label="Busqueda" name="buscar">
            </form>

            <button class="btn btn-primary buscar" type="submit" form="formFind"><i class="fas fa-search"></i></button>


            <!--ICONOS DE USUARIO-->
            <!-- <a href="/" class="iconos"><i class="fas fa-sign-out-alt"></i></a> -->
            <!--<a href="/" class="iconos"><i class="fas fa-home"></i></a>
            <a href="/producto/carritoV2" class="iconos"><i class="fas fa-shopping-cart"></i></a>-->
            <ul class="navbar-nav mr-auto">
                <% if ( locals.user==undefined) {%>
                    <li class="nav-item ml-2 mt-2 mb-2">
                        <a class="nav-link" href="/user/loginV2">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item mt-2 mb-2">
                        <a class="nav-link" href="/user/register">Registrate</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item ml-2 mt-2 mb-2">
                            <a class="nav-link" href="/user/info">Ver Perfil</a>
                        </li>
                        <% } %>
                            <li class="nav-item mt-2 mb-2">
                                <a href="/producto/carritoV2" class="nav-link ml-2"><i
                                        class="fas fa-shopping-cart fa-lg"></i></a>
                            </li>
                            <li class="nav-item mt-2 mb-2">
                                <a href="/" class="nav-link ml-2"><i class="fas fa-home fa-lg"></i></a>
                            </li>
            </ul>

        </div>
    </nav>
</header>