<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light px-2">
        <img src="/images/pexels-free-creative-stuff-1193743.jpg" alt="logo" class="logoPagina">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/producto/misproductos">Mis Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producto/crear">Vender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayuda</a>
                </li>
            </ul>
            <!--BUSQUEDA-->
            <form action="/producto/buscar" method="POST" id="formFind" class="form-inline my-2 my-lg-0 buscador w-50">
                <input class="busqueda form-control mr-sm-2 ml-auto w-75" type="text" placeholder="Buscá algo increible"
                    aria-label="Busqueda" name="buscar">
            </form>

            <button class="btn btn-outline-success my-2 my-sm-0 me-auto mx-2 buscar" type="submit" form="formFind"><i
                    class="fas fa-search"></i></button>


            <!--ICONOS DE USUARIO-->
            <!-- <a href="/" class="iconos"><i class="fas fa-sign-out-alt"></i></a> -->
            <a href="/" class="iconos"><i class="fas fa-home"></i></a>
            <a href="/producto/carrito" class="iconos"><i class="fas fa-shopping-cart"></i></a>

            <% if ( locals.estalogueado==false) {%>
                <a href="/user/register" class="iconos"><i class="far fa-user-circle"></i></a>
                <a href="/user/login" class="iconos"><i class="far fa-user"></i></a>
                <% } else { %>
                    <!-- <a href="/producto/carrito" class="iconos"><i class="fas fa-shopping-cart"></i></a> -->
                    <a href="/user/logout" class="iconos"><i class="fas fa-sign-out-alt"></i></a>
                    <a href="/user/info">
                        <p>Perfil Usuario</p>
                    </a>

                    <% } %>

        </div>
    </nav>
</header>