img.imgProd{
    height: 50% !important;
    object-fit: contain !important;
    margin-bottom: 2%;
}

div.contieneImg{
    justify-content: center;
}

div.container{
    padding: 2%;
    padding-top: 3vh;
    background-color: whitesmoke;
}

main{
    background-color: #f0f0f0 !important;
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
}