.busqueda{
    display: flex;
    justify-content: right;
}
form .busqueda:focus{
    color:white;
}
.busqueda button{
    height: fit-content;
    justify-content: center;
}
.iconos{
    text-align: right;
    margin-right: 1%;
    margin-top:1%;
}

.logo{
    margin-left: 1.5%;
}
.buscador{
    margin-left:2%;
}