*{
    box-sizing: border-box;
}
div.tarjetaFooter{
    all:unset;
}
.logoPagina{
    width: 5%;
    border-radius: 100%;
}
.busqueda{
    display: flex;
    justify-content: right;
}

.busqueda button{
    height: fit-content;
    justify-content: center;

}
.iconos{
    text-align: right;
    margin-right: 1%;
    margin-top:1%;
}

.logo{
    margin-left: 1.5%;
}
.buscador{
    margin-left:2%;
}
footer{
    background-color: beige;
}

div.tarjetaFooter{
    margin:1%;
    padding: 1%;
    width:30%;
    display: inline-block;
}
p.copy{
    color:gray;
    font-style: italic;
}
div.panel{
    display:inline-block;
    margin: 1%;
    width: 98%;
    padding: 1%;
}

h5.titulo{
    margin:1%
}
.form-group{
    margin-top: 30px;
    margin-left: 20px;
}
.BotonEnvio{
    margin-bottom: 20px;
    text-align: center;


}
.login{
    margin: 20px;
}


.body-carrito{
    background-color:#f8f9fa ;
}
.contenedorPrincipal{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.tituloCarrito{
    margin-left: 30px;
    font-style: normal;
    font-weight: 100;
}
.contenedor-carrito{
    width: 90%;
    height:300px ;
    display: flex;
    margin-left: 30px;

}

.contenedor-carrito li {
    list-style: none;
    margin-left: 10px;
}

.contenedor-carrito div{

    border: solid 1px black;
    margin-bottom: 0px;
}
.foto{
    width: 30%;
}
.fotoProducto{
    width: 100%;
    height: 100%;
}
.descripcion{
    width: 30%;
}
.precio{
    width: 15%;
}
.cantidad {
    width: 10%;
}
.total{
    width: 15%;
}

div h6{
    text-align:center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;

}
.botonAgregar{
    width: 90%;
    margin-left: 30px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;

}
.carrito{
    margin-bottom: 30px;
}

.pagar{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 30px;

}
.pagar div{
    border: 1px  solid black;
    width: 30%;
}

.pagar div h6{
    width: 90%;
    border: none;
    text-align:center;
    margin-left: 5px;
    padding: 3px;
}
.botonPagar{
 padding: 5px;
 text-align: center;

}
form.login{
    margin:0%;
    padding: 3%;
    width:95%;
}
div.flexLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCrear{
    text-align:center
}

.formularioCrear{
    margin-top: 50px;
    margin-bottom: 50px;
}

.labelCrear{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;

}


.checkboxCategoria{
    font-size: 15px;
}

#inputsChecbox{
    opacity: 1;
    position: inherit;
}

#inputTex{
    text-align:center;

}

.selectCategorias{
    display: inline;
    width: 30%;
}

.inputError{
  display: none
}
.inputErrorActivo{
  display: block;
  color: red;
}

.inputIndicaciones{
  display: none
}
.inputIndicacionesActivo{
  display: block;
  color: blue;
}

.errores{
    margin-top:10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: blue

}
.input-formulario{
    position: relative
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

    .input-formulario .formulario__validacion-estado :focus{
    opacity: 1;
}


@media (min-width:768px){
    form.login{
        width: 50%;
        height: 150%;
    }
    div.flexLogin{
        height: 50vh;
    }

}