<!DOCTYPE html>
<html>

<%- include('./../partials/head') %>

  <body class="body-carrito">
    <%- include('./../partials/header') %>
      <main class="contenedorPrincipal">

        <div>
          <h4 class="tituloCarrito">Comprar Producto</h4>
        </div>
        <section class="carrito">
          <div class="contenedor-carrito">
            <div class="foto">
              <img src="/images/pexels-photo-1812960.jpeg" alt="foto producto" class="fotoProducto">
            </div>
            <div class="descripcion">
              <h6>Descricion del Producto</h6>
            </div>
            <div class="precio">
              <h6>Precio Unitario</h6>
            </div>
            <div class="cantidad">
              <h6>Cantidad</h6>
            </div>
            <div class="total">
              <h6>SubTotal</h6>
            </div>
          </div>
          <div class="botonAgregar">
            <a href="/producto/all">
              <button type="button" class="btn btn-secondary">
                Agregar otro Producto
              </button>
            </a>
            <a href="/producto/carrito">
              <button type="button" class="btn btn-secondary" onclick="vaciarCarrito()">
                Vaciar Carrito
              </button>
            </a>

          </div>
        </section>
        <section class="pagar">
          <div>
            <h6>Total de su Compra</h6>
          </div>
          <div>
            <h6 class="totalizador">$</h6>
          </div>
          <div class="botonPagar">
            <button type="button" class="btn btn-secondary"> Pagar </button>
          </div>


        </section>

      </main>
      <%- include('./../partials/footer.ejs') %>
        <script src="/js/leerCarrito.js"></script>
  </body>

</html>