<!DOCTYPE html>
<html>

<%- include('./../partials/head') %>
  <title>Bienvenido al sitio</title>
  <link rel="stylesheet" href="css/home.css" />

  <body>
    <%- include('./../partials/header') %>
      <main>

        <!-- <h1 class="titulo"> N o v e d a d e s | T e n d e n c i a s</h1>-->

        <h1 class="titulo"> enRedArte.com </h1>
        <h4 class="subtitulo"> [ &star; Red de Arte Independiente | Artistas Emergentes | Tendencias &star; ]
          </h2>
          <aside class="banner">
            <div class="contenedor-tarjeta">
              <svg class="cirle-a" height="160" width="160">
                <circle cx="80" cy="80" r="80" />
              </svg>
              <svg class="cirle-b" height="60" width="60">
                <circle cx="30" cy="30" r="30" />
              </svg>
              <svg class="cirle-c" height="600" width="600">
                <circle cx="300" cy="300" r="300" />
              </svg>
              <img class="img-home"
                src="https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvZGF2aWQtYnktbWljaGVsYW5nZWxvLWpidTAzLmpwZyIsInJlc2l6ZSw4MDAiXX0.RoW8t6LYw_gFe9r0M16vK7HNQYSGGxxoSinRoisDI1c.jpg" />
              <div class="col-conten">
                <p class="tit-tarjeta">Escultura |</p>
                <p class="tit-tarjeta">Objetos</p>
                <a href="/producto/all" class="more-link">Ver Más</a>
              </div>
            </div>
          </aside>

          <aside class="banner dos">
            <div class="contenedor-tarjeta">
              <svg class="cirle-a" height="160" width="160">
                <circle cx="80" cy="80" r="80" />
              </svg>
              <svg class="cirle-b" height="60" width="60">
                <circle cx="30" cy="30" r="30" />
              </svg>
              <svg class="cirle-c" height="600" width="600">
                <circle cx="300" cy="300" r="300" />
              </svg>
              <img class="img-home" src="https://i0.wp.com/www.freim.tv/wp-content/uploads/2019/05/large.jpg" />
              <div class="col-conten">
                <p class="tit-tarjeta">Arte Moderno</p>
                <a href="/producto/all" class="more-link">Ver Más</a>
              </div>
            </div>
          </aside>

          <aside class="banner tres">
            <div class="contenedor-tarjeta">
              <svg class="cirle-a" height="160" width="160">
                <circle cx="80" cy="80" r="80" />
              </svg>
              <svg class="cirle-b" height="60" width="60">
                <circle cx="30" cy="30" r="30" />
              </svg>
              <svg class="cirle-c" height="600" width="600">
                <circle cx="300" cy="300" r="300" />
              </svg>
              <img class="img-home" src="./images/mona-lisa.jpg" />
              <div class="col-conten">
                <p class="tit-tarjeta">Clasicos</p>
                <a href="/producto/all" class="more-link">Ver Más</a>
              </div>
            </div>
          </aside>

          <div class="link-container">
            <a href="/producto/all" class="more-link">Galeria de Arte</a>
          </div>
      </main>
      <%- include('./../partials/footer') %>
  </body>

</html>