<!DOCTYPE html>
<html>

<%- include('./../partials/head') %>
<title>Todos los Productos</title>

<body>
    <%- include('./../partials/header') %>

    
    <%- include('./../partials/footer') %>
</body>

</html>